PORT=8080
APP_ENV=local
BLUEPRINT_DB_HOST=localhost
BLUEPRINT_DB_PORT=5432
BLUEPRINT_DB_DATABASE=
BLUEPRINT_DB_USERNAME=
BLUEPRINT_DB_PASSWORD=
BLUEPRINT_DB_SCHEMA=public


GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://username:password@localhost:5432/db_name
GOOSE_MIGRATION_DIR=./migrations
